body{
font-family: Arial;
background: linear-gradient(135deg,#3a7bd5,#00d2ff);
margin:0;
padding:0;
}

.container{
width:90%;
max-width:900px;
margin:auto;
text-align:center;
color:white;
}

.search-box{
margin:20px;
}

input{
padding:10px;
width:200px;
border:none;
border-radius:5px;
}

button{
padding:10px 15px;
border:none;
background:#222;
color:white;
border-radius:5px;
cursor:pointer;
}

.weather-card{
background:white;
color:black;
padding:20px;
border-radius:10px;
margin-top:20px;
}

.forecast{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
margin-top:20px;
}

.forecast-day{
background:white;
color:black;
padding:15px;
margin:5px;
border-radius:10px;
width:120px;
}

#history button{
margin:5px;
}